body {
    background: repeating-linear-gradient(
        35deg,
        #efeff0,
        #efeff0 3px,
        #6b6b6b 5px,
        #efeff0 3px
    );
    margin: 0;
}

.navbar {
    background-color: #dbd4c1;
    text-align: left;
    width: auto;
    padding: 8px 16px;
    overflow: hidden;
    position: static;
}

.navbar a {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 20px;
    float: left;
    overflow: hidden;
}

.navbar a:hover {
    background-color: #7a6776;
    color: #e7e7e7;
}


h2 {
    color: #756e5d;
    text-align: left;
    margin-left: 40px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3
{
    color: #756e5d;
    text-align: left;
    margin-left: 40px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome {
    background-color: #cec7d6;
    border: 2px solid #a19e97;
    border-radius: 8px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #666678;
    box-shadow: -5px 10px #666678;

}

.welcome p {
    text-align: center;
    text-indent: 40px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.5;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preview {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    color: #666678
}

.leftDisplay {
    background-color: #cec7d6;
    border: 2px solid #a19e97;
    border-radius: 8px;
    width: 45%;
    box-shadow: 5px 10px #666678;
    padding: 5px;
    float: left;
}

.rightDisplay {
    background-color: #cec7d6;
    border: 2px solid #a19e97;
    border-radius: 8px;
    box-shadow: -5px 10px #666678;
    width: 45%;
    padding: 10px;
    float: right;
}

.preview p {
    text-align: left;
    text-indent: 10%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5;
    font-weight: 400;
}


.preview dl {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 300;
}

.preview dt {
    text-align: left;
    line-height: 1.5;
    font-weight: 800;
}

.preview dd {
    text-align: left;
    line-height: 1.5;
}

footer {
    background-color: #cec7d6;
    border: 2px solid #a19e97;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: #666678
}
.navbar ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: outside;
    display: table;
    text-align: right;
    margin: 0 auto;
}

li {
    color: #666678;
    text-align: center;
    display: inline;
}

a:link {
    color: #464661;
    text-decoration: none;
}

a:visited {
    color: #464661;
    text-decoration: none;
}