body {
    background-color: #dbd4c1;
}

h1 {
    color: #756e5d;
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}

h2 {
    color: #756e5d;
    text-align: center;
    font-weight: normal;
}

h3
{
    color: #756e5d;
    text-align: center;
    font-weight: normal;
}

p {
    border: 2px solid #a19e97;
    border-radius: 8px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    color: #666678
}

ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: outside;
    display: table;
    text-align: center;
    margin: 0 auto;
}

li {
    color: #666678;
    text-align: center;
    display: inline;
    margin: 5px;
}

a:link {
    color: #595341;
}

a:visited {
    color: #595341;
}